.primary {
    background-color: #0052CC;
    color: #FFFFFF;
}

.secondary {
    background-color: #DC3545;
    color: #FFFFFF;
}

.text-primary {
    color: #0052CC;
}

.text-secondary {
    color: #DC3545;
}

.bg-white {
    background-color: #FFFFFF;
}